!!! 5
%html
  %head
    %title Solar
    %meta{charset: 'utf-8'}
    %meta{name: :viewport, content: 'width=device-width, initial-scale=1.0'}
    = stylesheet_link_tag :all
    %link{rel: :stylesheet, type: 'text/css', href: '//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'}
    = javascript_include_tag "http://code.jquery.com/jquery-2.1.4.min.js"    
    = javascript_include_tag "//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
    = javascript_include_tag :all
    = stylesheet_link_tag :all

  %body
    = partial 'partials/toolbar'
    .container
      =yield

