---
title: Monitoring
---
- m  = monitoring
- avg = m.inject( nil ) { |sum,x| sum ? sum+x : x } / m.size
- min = m.min
- max = m.max

:javascript
  $(function(){

    // Random data
    var line1 = new TimeSeries();
    var line2 = new TimeSeries();
    setInterval(function() {
      line1.append(new Date().getTime(), Math.random());
      line2.append(new Date().getTime(), Math.random());
    }, 1000);

    var smoothie = new SmoothieChart({ grid: { strokeStyle: 'rgb(125, 0, 0)', fillStyle: 'rgb(60, 0, 0)', lineWidth: 1, millisPerLine: 250, verticalSections: 6 } });
    smoothie.addTimeSeries(line1, { strokeStyle: 'rgb(0, 255, 0)', fillStyle: 'rgba(0, 255, 0, 0.4)', lineWidth: 3 });
    smoothie.addTimeSeries(line2, { strokeStyle: 'rgb(255, 0, 255)', fillStyle: 'rgba(255, 0, 255, 0.3)', lineWidth: 3 });

    smoothie.streamTo(document.getElementById("mycanvas"), 1000);

    $("span.pie").peity("pie")  

  })

%ul{"data-inset" => "true", "data-role" => "listview"}
  %li
    %h3
      = m.size
      cells
    %p
      Min: 
      %b(style='color:red')= min
      Max: 
      %b(style='color:green')= max  
    %p.ui-li-aside
      Average:
      %b= avg.round(2) 
    /.ui-li-aside Average:


%ul{"data-inset" => "true", "data-role" => "listview"}
  - m.each_with_index do |li,idx|
    %li
      %h3
        - if li == min
          %span(style='color:red')= li
        - elsif li == max
          %span(style='color:green')= li
        - else
          = li

      %p.ui-li-aside
        /Change:
        - diff = ((li - avg).round(2) * 100).round(2)
        - if diff > 0
          %span(style='color:green')= diff
        - elsif diff < 0
          %span(style='color:red')= diff  
        - else
          = diff        



= image_tag "battery-charge-icon.png", style: 'width:98%'

%canvas(id="mycanvas" width="400" height="100")
%p
%span.pie 4/5

